.TotalStatistics {
    width: 320px;
    height: 253px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
    margin-left: 5px;

    .TotalStatistics__title-bar {
        border-radius: 10px 10px 0px 0px;
        background: #FFD07D;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 48px;
        position: relative;

        .TotalStatistics__title {
            color: #37383C;
            font-family: Rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            margin-left: 63px;
        }

        .TotalStatistics__image {
            position: absolute;
            top: 11px;
            left: 19px;
        }
    }

    .TotalStatistics__container {
        margin-top: 35px;
        width: 100%;
        max-width: 320px;
        padding-left: 24px;
        padding-right: 30px;

        .TotalStatistics__process-learning {
            margin-bottom: 16px;
        }

        .TotalStatistics__learned {
            margin-top: 20px;
            margin-bottom: 14px;
        }
    }

    @media (max-width: 300px) {
        .TotalStatistics__container {

        }
    }
}