.word-constructor {  
  min-height: calc(100vh - 115px);  
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./img/word-constructor.jpg);
  &.word-constructor__start-page {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
}

.word-constructor__start-panel {   
  background-color: #31313185;
  color: whitesmoke;
  width: 500px;  
  border-radius: 10px;
  padding: 20px;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.word-constructor__btn {
  text-align: center;
  font-family: 'Open Sans'; 
  padding: 5px 20px;
  display: block;  
  font-size: 16px;  
  color: #ffffff;
  background-color: #ff570f;  
  border-radius: 15px;
  border: none;  
  outline: none;
  transition: 0.2s;
  cursor: pointer;
  &.word-constructor__btn_margin {
    margin: 0 auto;    
    margin-top: 20px;
  }
  &.word-constructor__btn_white {
    background-color: #5e5e5e;
  }
  &.word-constructor__btn_red {
    background-color: #f20000;
  }
  &.word-constructor__btn_blue {
    background-color: #25b6d2;
  }
  &:hover {
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.2);
  }
}

.word-constructor__game {
  width: 100%;
  min-height: calc(100vh - 115px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.word-constructor__available-skips {
  display: flex;
  align-items: center;
  padding: 20px 0px 0px 20px;
  cursor: default;
  img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  p {
    font-size: 24px;
    font-weight: 500;
    color: #5405ff;
  }
}

.word-constructor__shuffled-letters {
  display: flex;
  justify-content: center;
  &.disabled {
    pointer-events: none;
  }
}

.word-constructor__shuffled-letter__external-wrapper {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.word-constructor__shuffled-letter__inner-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform .7s, -webkit-transform .7s;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0px 10px;
  &.rotated {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    .word-constructor__shuffled-letter {
      pointer-events: none;
    }
  }  
}

.word-constructor__shuffled-letter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #31313185;
  color: whitesmoke;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;    
  &.front, &.back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &.front {
    background-color: #f2f3f4;
    color: #5405ff;
  }
  &.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

.word-constructor__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  &_statistics {
    margin-top: 20px;
    .word-constructor__btn {
      margin: 0 10px;
    }
  }
}

.word-constructor__answers {
  h3 {
    margin: 10px 0px;
  }
}

.word-constructor__answers__item {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

.word-constructor__answers__icon {
  margin-right: 10px;
}

.word-constructor__game-answers {
  display: inline-flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px;
  background-color: #e5de00;
  border-radius: 20px;
  h2 {
    margin-bottom: 15px;
    color: #5405ff;
  }
  &.resolved {
    background-color: #08e505;
  }
  &.resolved_wrong {
    background-color: #e50505;
    h2 {
      color: whitesmoke;
    }
  }  
}

.word-constructor__game-task {
  display: inline-flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px;
  background-color: #4c05e5;
  border-radius: 20px;
  h2 {
    margin-bottom: 15px;
    color: whitesmoke;
  }
}