.TodayStatistics {
    width: 320px;
    min-height: 224px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;


    .TodayStatistics__title-bar {
        border-radius: 10px 10px 0px 0px;
        background: #25B6D2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 48px;
        position: relative;

        .TodayStatistics__title {
            color: white;
            font-family: Rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            margin-left: 63px;
        }

        .TodayStatistics__icon {
            position: absolute;
            top: 11px;
            left: 19px;
        }
    }

    .TodayStatistics__list {
        list-style: none;
        margin-top: 20px;
        font-size: 16px;
        line-height: 19px;
        max-width: 317px;
        width: 100%;
        padding-left: 26px;
        padding-right: 20px;

        .TodayStatistics__list-item {
            margin-bottom: 18px;
            display: flex;
            justify-content: space-between;

            .TodayStatistics__number--green,
            .TodayStatistics__number--red {
                font-size: 16px;
                line-height: 19px;
            }

            .TodayStatistics__number--green {
                color: #32BEA6;
            }

            .TodayStatistics__number--red {
                color: #E04F5F;
            }
        }
    }
}