.Dashboard {
  position: relative;
  background: url('./img/Big-Ben.png') no-repeat;
  background-position: bottom;
  background-size: contain;
  background-color: #f8f2ee;
  min-height: 82vh;
  font-style: normal;
  font-weight: normal;
  padding-top: 49px;

  .Dashboard__container {
    max-width: 1280px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}