html {
    height: 100%;
  }
  
.audio-challenge {
  background: rgba(236, 206, 255, 0.568);

  div {
    margin: 10px;
  }
}

.hidden {
  display: none;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}