.footer {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  position: relative;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  color: #F8F2EE;
  background-color: #37383C;

  span {
    position: absolute;
    left: 8.33%;
    top: 38%;
    bottom: 38%;
  }
}
