$warm-orange: #ffd07d;
.DifficultyControls__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    width: 240px;

    margin-bottom: 20px;
    padding-top: 20px;
}

.DifficultyControls__button {
    width: 60px;
    height: 27px;
}
