$media-width: 699px;

.dictionary {
  background: #f8f2ee;
  min-height: 84vh;

  .container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 35px 0;
  }

  .tab-list {
    border-bottom: 1px solid #c4c4c4;
    padding: 0;
  }

  .tab {
    font-family: Rubik, sans-serif;
    font-size: 18px;
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 12px 30px;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    outline: none;
    user-select: none;
  }

  .learning-words {
    color: #fff;
    background: #32bea6;
  }
  .complex-words {
    background: #ffd07d;
  }
  .deleted-words {
    color: #fff;
    background: #8ba0ae;
  }

  .react-tabs__tab--selected {
    background: #fff;
    border-color: #c4c4c4;
    color: black;
  }

  .tab-panel {
    background: #fff;
  }

  .react-tabs__tab-panel--selected {
    padding: 20px 30px 20px 30px;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 0 0 10px 10px;
  }

  table {
    border-spacing: 0;

    .word-container {
      position: relative;
      word-break: break-word;
      font-family: Rubik;
      font-style: normal;
      font-size: 14px;
      line-height: 14px;
      color: #37383C;

      .audio-container {
        width: 23px;

        @media (max-width: $media-width) {
          width: 100%;
        }        
      }

      td {
        border-bottom: 1px solid #c4c4c4;
        padding: 10px;

        &:not(.hidden) {
          @media (max-width: $media-width) {
            display: block;
          }
        }
      }

      .association-image {
        height: 39px;
      }

      .audio {
        cursor: pointer;
        outline: none;

        &:hover {
          filter: invert(1);
          transition: ease-in-out 0.2s;
        }
      }

      .word {
        min-width: 90px;

        .word-name {
          font-weight: bold;
          font-size: 18px;
          line-height: 21px;
        }
    
        .word-translation {
          color: #09607D;
        }
      }

      .sentences {
        span {
          &:first-child {
            position: relative;
            bottom: 10px;
          }
        }
      }

      .return {
        width: 27px;
        cursor: pointer;
      }
    }
  }

  .hidden {
    display: none;
  }
}
